* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-page main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.contact-container {
  display: flex;
  gap: 3rem; 
  justify-content: center;
  flex-wrap: wrap; 
  align-items: stretch;
}

.contact-left,
.contact-right {
  flex: 1;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  min-height: 550px; 
}


.contact-info {
  background-color: #f6fcf4;
  padding: 2.5rem; 
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column; 
  gap: 1.5rem;
  flex: 1; 
}

.contact-info h3 {
  margin-bottom: 0.5rem;
  text-decoration: underline 1px;
}

.contact-info p {
  line-height: 1.6;
  color: #555;
}

.contact-info a {
  color: #3f452a;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}



.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f6fcf4;
  padding: 2.5rem; 
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  flex: 1; 
}

.contact-right input,
.contact-right textarea {
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.contact-right button {
  padding: 0.8rem 1.5rem;
  background-color: #3f452a;
  color: white;
  border: none;  
  border-radius: 0.8rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.contact-right button:hover {
  color: rgb(189, 214, 138);
  background-color: #466f44;
}


@media (max-width: 900px) {
  .contact-container {
    flex-direction: column; 
  }
  .contact-left, .contact-right {
    width: 100%;
    min-height: auto; 
  }

}
