* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('flower.jpg');
   background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
 background-image: linear-gradient(to top right, #949e71 , #4b542a);
  color: white;
  position: relative;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: #adb981;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

nav a:hover {
  background-color: #3f452a;
  color: #a2ac82;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}


.hero {
  text-align: center;
  padding: 8rem 4rem;
  font-style: italic;
  color: #84c56e;
}

.hero h2 {
  font-size: 5rem;
  line-height: 1.2;
  text-shadow:2px 2px 3px rgba(0, 0, 0, 0.156);
}

.hero p {
  color: #89b07d;
  font-size: 1.5rem;
  margin-top: 1rem;
}


.skill-card {
  display: flex;
  gap: 4rem;
  justify-content: center;
  
  padding: 6rem 5rem;
}

.card {
  position: relative;
  width: 450px;
  padding: 2.5rem;
  background-color: rgb(188, 215, 180);
  border: 4px solid #4a6242;
  border-radius: 2.5rem;
  box-shadow:inset 0 20px 40px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}


.card h3 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.card p {
  color: rgb(85, 85, 85);
  font-size: 1.2rem;
  line-height: 1.7;
}

.card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
  background: linear-gradient(180deg, #dceacf, #ffffff);
}


footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem;
  background-color: rgb(118, 148, 111);
  color: white;
}

/* ---------------- MEDIA QUERIES ---------------- */
@media (max-width: 900px) {
  .hero h1 {
    font-size: 3rem;
  }
  
  .hero p {
    font-size: 1.3rem;
  }

  .card {
    width: 380px;
    padding: 2.2rem;
  }

  .card h3 {
    font-size: 1.6rem;
  }

  .card p {
    font-size: 1.15rem;
  }
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    background-color: rgb(140, 149, 138);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
  }

  nav a {
    padding: 1rem;
  }

  #menu-toggle:checked + .hamburger + nav {
    display: flex;
  }

  header {
    flex-wrap: wrap;
  }

  .card {
    width: 95%;       
    padding: 2rem;
  }

  .skill-card {
    padding: 4rem 2rem;
    gap: 2rem;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1.1rem;
  }
}
