* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.container{
    height: 100vh;

}
.container h1{
    margin-top: 1em;
    border: 2px solid #3ba5a9;
    background-color: rgb(210, 241, 232);
  
    border-radius: 10%;
    box-shadow: 2px;
    display: flex;
    text-align: center;
    width: 200px;
    justify-self: center;
}

.project-grid {
   margin: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

}


.project-card{
    line-height: 1.5rem;
    
    padding: 2.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 2.5rem;
    box-shadow: inset 2px 2px 5px #888
    
}
h3{
    text-decoration: 1px underline;
}
p{
    margin: 0.5em auto;
    color: grey;
}